<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include("partials/header") -%>
    <h1>Hi! I am Shantanu Kapse👋</h1>
    <div class="wrap">
      <div class="left">
        <br><br>
        <p>I am a UG student pursuing Bachlors of Technology in the field of Computer Science and Engineering at IIIT Kota. </p>
        <p>I am a curious individual with a wide range of interests. I have a passion for music, and you'll often find me playing the piano or singing my heart out. Dancing, Chess, Badminton, and Cinematography are also among my many hobbies along with some story writing. I even have some experience in 3D modeling and animation using software like Blender.
          <br><br>One unique thing about me is my love for deep conversations. As an introvert, I find great joy in exploring meaningful topics and engaging in thought-provoking discussions. Short conversations just don't do it for me!
          <br><br>While I may not have any notable achievements to brag about just yet, one thing that surprises people is my ability to function well on just a couple of hours of sleep. It's as if I'm immune to exhaustion!
          <br><br>Currently, my sights are set on a career as a developer. However, I'm also determined to pursue my other creative passions and achieve great things in those areas. Who knows what amazing adventures lie ahead?</p>

      </div>
      <div class="right">
        <img src="/images/pfp.png" alt="pfp">
      </div>

      </div>

    </div>
<!-- to do -->
    <!-- <div>
      <p>Find me on </p>
      <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
    </div> -->
    <%- include("partials/footer") -%>

  </body>
</html>
